.form-profile .card {
    min-width: 100%;
}
.form-profile .card form {
    margin-top: 2rem;
}
.form-profile .card .p-field {
    margin-bottom: 1.5rem;
}

.profile-form{
    margin-right: 40px ;
    padding: 50px ;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 20px gray;
}