.card-continer {
  width: 16rem;
  text-align: center;
  margin: 10px;
  font-family:   monospace;
}
.card-continer:hover {
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.8;
  
}
.card-continer img {
  height: 16rem;
}
.card-continer img:hover {
  opacity: 0.8;
  transition: all 0.3s;

}
