.cart-header {
    font-size: 1.8rem;
    padding: 1rem 0;
    text-transform: uppercase;
}

.subtotal {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
}

.product-link {
    color: #212529;
    text-decoration: none;
}

.n{
    box-shadow: 0px 0px 20px gray;
}
