$mainColor : lightskyblue;
;

.search-name{
   color: black;
   border-bottom: 2px solid $mainColor;

    &:hover{
       background-color: $mainColor;
       color: white;
       border-radius: 4px;
    }
    // margin-right: 75px ;
    padding: 10px;
    padding-top: 0px;
    cursor: pointer;
   
    
}

.search-name-link{
    text-decoration: none;
}




// --------------------------- product card------------------


*{
    box-sizing: border-box;
}

.card-container{
    background-color: #F8F9FA;
}

.div-card{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0px;

    
}

.card-div-parent{
    padding: 10px;
    padding-bottom: 0px;
    margin: auto;
 box-shadow: 0px 20px 30px  rgba(0,0,0,.12);

    cursor: pointer;
    &:hover{
        border: 1px solid  transparent;
    border-radius: 10px;
    // box-shadow: 0px 20px 30px  rgba(0,0,0,.12);
        box-shadow: 0px 0px 30px rgba(0, 0,0,.12);
        transform: scale(1.05);

    }
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-end;

}
.cart-image{
    margin: auto;
    border: 1px solid transparent;
    border-radius: 8px;
    height: 180px;
    width: 180px;
    
}

.cart-button{
    width: 100%;
    // border: 1px solid gray;
    background-color: transparent;
    box-shadow: 0px 0px 5px gray;
    background-color: #0D6EFD;

    &:hover{
    }

    
}

.button-details{
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover{
        color: white;
    }
}
.search-body-background{
    background-color: #eee;
}

