.body-product-details{
    background-color: #eee;
}

.product {

    &-name {
        font-size: 2em;
    }

    &-desc {
        font-size: 1.1em;
    }

    &-rating {
        margin: 15px 0;
    }

    &-price {
        font-size: 2em;
        font-weight: 600;
        border-bottom: 1px solid var(#f4f4f4);
        padding: 20px 0;

        .price-before {
            font-size: 0.6em;
            margin-left: 10px;
            font-weight: 200;
            color: var(#f4f4f4);
            text-decoration: line-through;
        }
    }

    &-quantity {
        margin: 15px 0; 
        width: 50%;

        label {
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
    
}

.price-and-quantity{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;

    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 0px 20px gray;

}

.product-rich-desc {
    line-height: 1.6;
}

.prod-details-body-background{
    background-color: #eee;
}